body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-rubik: Rubik;
  
    /* font sizes */
    --font-size-xl: 20px;
    --font-size-45xl: 64px;
    --font-size-base: 16px;
  
    /* Colors */
    --color-lightsteelblue: #a9b4c2;
  }
  